      body {
        height: 3000px;
        font-family: Arial;
      }
      img {
        object-fit: cover;
        height: 40px;
        width: 40px;
        border-radius: 20px;
        display: block;
        margin-bottom: 10px;
      }

      .flexbox {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
      }

      .profile-picture-role {
        background-color: rgb(33, 33, 33);
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 12px;
      }

      .name-space {
        background-color: rgb(55, 55, 55);
      }

      .info-plus {
        display: flex;
        justify-content: space-between;
        width: 150px;
        align-items: center;
        padding-top: 12px;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 10px;
      }

      .plus-sign {
        color: rgb(150, 150, 150);
        font-size: 25px;
      }

      .info-text {
        font-size: 14px;
        color: white;
      }

      .text {
        color: rgb(150, 150, 150);
        margin-bottom: 10px;
        padding-left: 12px;
      }