      body {
        height: 3000px;
      }

      .close-button {
        font-family: Arial;
        background-color: black;
        color: white;
        position: absolute;
        border: none;
        right: 15px;
        top: 15px;
        width: 45px;
        height: 45px;
        border-radius: 25px;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
      }