.first-name,
.last-name {
        padding-left: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        border-radius: 5px;
        border-width: 1px;
        margin-bottom: 0px;
        width: 100px;
}
.email-text {
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 215px;
        border-radius: 5px;
        border-width: 1px;
        display: block;
}
.sign-up {
        background-color: rgb(3, 123, 228);
        border: none;
        color: white;
        font-size: 14px;
        font-weight: bold;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 5px;
        padding-left: 88px;
        padding-right: 88px;
        cursor: pointer;
}