.flex-container {
        display: flex;
        flex-direction: row;
      }
      .blue-flex {
        background-color: lightblue;
        width: 200px;
      }
      .pink-flex {
        background-color: lightpink;
        width: 75px;
      }